@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    font-family: 'Orbitron', sans-serif;
}

ul{
    list-style: none;
}

.container{
    padding: 4rem 10rem 0;
    background-image: url("../assets/start.png");
    background-position: 46% 90%;
    background-repeat: no-repeat;
    background-size: 4rem;
    height: 100vh;
}

/* Navbar */

.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-container div:first-of-type{
    flex: 1;
}

.navbar-container div img{
    width: 10rem;
}

.navigation{
    display: flex;
    align-items: center;
}

.list{
    display: flex;
    gap: 4rem;
}

.list li{
    font-size: 1.2rem;
    font-weight: 500;
    position: relative;
    transition: all .3s ease;
}

.list li::after{
    content: "";
    display: block;
    position: absolute;
    top: 2rem;
    left: .8rem;
    width: 0;
    height: .2rem;
    border-radius: .2rem;
    transition: all .3s ease;
    background-color: #000;
}

.list li:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.list li:hover::after{
    width: 70%;
    background-color: #000000;
}

.button-group{
    display: flex;
}

.search-icon svg{
    width: 1.7rem;
    height: 2.6rem;
    margin-right: 1rem;
    margin-left: 5rem;
}

.nav-button{
    background-color: transparent;
    padding: .3rem 2.5rem;
    border-radius: .8rem;
    color: #242B2E;
    transition: all .3s ease;
}

.nav-button:hover{
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
}

.btn-toggle{
    display: none;
    cursor: pointer;
}

.btn-mobile{
    font-size: 4rem;
    color: #212529;
}

.btn-close{
    display: none;
}

/* Hero */

.hero-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-top: 10rem;
}

.hero-container div>img{
    position: absolute;
    top: 0;
    left: 0;
    width: 36.5rem;
}

.square img{
    position: relative;
    top: 10.3rem;
    left: 13.7rem;
    width: 28.5rem;
}

.star img{
    position: absolute;
    top: 1.5rem;
    right: 0;
    width: 5.5rem;
}

.globe img{
    position: absolute;
    top: -4.5rem;
    left: 60%;
    width: 6rem;
}

.hero-container-right{
    width: 55%;
    margin-top: 15rem;
    text-align: center;
}

.hero-heading{
    font-size: 5rem;
}

.hero-description{
    font-size: 1.1rem;
    padding: 5rem 10rem 7rem;
}

.button-email{
    background-color: transparent;
    padding: .1rem 1.9rem .2rem 1.9rem;
    border-radius: .5rem;
    border: .2rem solid #1e1e1e;
    color: #515151;
    font-family: 'Orbitron', sans-serif;
}

.button-join{
    background-color: #1e1e1e;
    color: #ffffff;
    padding: .1rem .3rem;
    border-radius: .5rem;
    font-family: 'Orbitron', sans-serif;
}

.contact-heading{
    padding-top: 7rem;
    padding-bottom: 1.5rem;
    color: #515151;
    font-weight: 500;
    font-family:Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    font-weight: bolder;
}

.icons span img{
    width: 2.3rem;
}

.icons span:not(:last-of-type){
    margin-right: 1.2rem;
}